name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Unit Tests
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode 15.4
      run: sudo xcode-select -s /Applications/Xcode_15.4.app

    - name: Run Tests
      run: swift test --parallel --enable-code-coverage
      working-directory: KSAPDismiss

    - name: Upload Coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: KSAPDismiss/.build/debug/codecov
